<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="img/Pas foto.JPG" alt="Michael" class="img-thumbnail rounded-circle" width="200" />
      <h1 class="display-4">Michael</h1>
      <p class="lead">Software Engineer | QA Tester</p>
    </div>
  </div>
</div>
